USE [BlazorCRUD_Data]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/25/2025 10:17:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 8/25/2025 10:17:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Age] [int] NOT NULL,
	[Birthday] [datetime2](7) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test_Headers]    Script Date: 8/25/2025 10:17:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test_Headers](
	[IDTest] [int] NOT NULL,
	[SerialNumber] [nchar](30) NOT NULL,
	[TestType] [nvarchar](2) NOT NULL,
	[TestRecipe] [nvarchar](30) NULL,
	[TestRelease] [smallint] NULL,
	[TestStart] [datetime] NULL,
	[TestDuration] [int] NULL,
	[TestResult] [bit] NOT NULL,
	[ArtCode] [nvarchar](20) NULL,
	[ArtExecution] [nvarchar](20) NULL,
	[ArtSerial] [nvarchar](20) NULL,
	[OpCode] [nvarchar](15) NULL,
	[StationCode] [nvarchar](10) NULL,
	[LineCode] [nvarchar](10) NULL,
	[FileName] [nvarchar](100) NULL,
	[FileDate] [datetime] NULL,
	[isBackup] [bit] NOT NULL,
	[isSend] [bit] NOT NULL,
	[StopCode] [nvarchar](10) NULL,
	[isOnFTQ] [bit] NULL,
	[EquipmentSN] [nvarchar](20) NULL,
	[TaskCode] [nvarchar](20) NULL,
	[internalID] [uniqueidentifier] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test_Headers1]    Script Date: 8/25/2025 10:17:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test_Headers1](
	[IDTest] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SerialNumber] [nvarchar](30) NOT NULL,
	[TestType] [nvarchar](2) NOT NULL,
	[TestRecipe] [nvarchar](30) NULL,
	[TestRelease] [smallint] NULL,
	[TestStart] [datetime] NULL,
	[TestDuration] [int] NULL,
	[TestResult] [bit] NOT NULL,
	[ArtCode] [nvarchar](20) NULL,
	[ArtExecution] [nvarchar](20) NULL,
	[ArtSerial] [nvarchar](20) NULL,
	[OpCode] [nvarchar](15) NULL,
	[StationCode] [nvarchar](10) NULL,
	[LineCode] [nvarchar](10) NULL,
	[FileName] [nvarchar](100) NULL,
	[FileDate] [datetime] NULL,
	[isBackup] [bit] NOT NULL,
	[isSend] [bit] NOT NULL,
	[StopCode] [nvarchar](10) NULL,
	[isOnFTQ] [bit] NULL,
	[EquipmentSN] [nvarchar](20) NULL,
	[TaskCode] [nvarchar](20) NULL,
	[internalID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_TestHeadersNEW] PRIMARY KEY CLUSTERED 
(
	[IDTest] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250819085846_Initial', N'8.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250820081939_AddAnimalMigration', N'8.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250821045801_TableAnimal', N'8.0.11')
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([Id], [Name], [Age], [Birthday]) VALUES (5, N'Tim', 27, CAST(N'2025-08-08T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Student] ([Id], [Name], [Age], [Birthday]) VALUES (6, N'Gabi', 34, CAST(N'2025-04-04T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
INSERT [dbo].[Test_Headers] ([IDTest], [SerialNumber], [TestType], [TestRecipe], [TestRelease], [TestStart], [TestDuration], [TestResult], [ArtCode], [ArtExecution], [ArtSerial], [OpCode], [StationCode], [LineCode], [FileName], [FileDate], [isBackup], [isSend], [StopCode], [isOnFTQ], [EquipmentSN], [TaskCode], [internalID]) VALUES (1, N'217160IU24090990712           ', N'CK', NULL, 0, CAST(N'2024-09-10T13:29:39.863' AS DateTime), 0, 1, N'0132217160', N'IU', N'24090990712', NULL, N'M-FIN20', N'RD', NULL, NULL, 0, 0, NULL, 0, NULL, NULL, NULL)
INSERT [dbo].[Test_Headers] ([IDTest], [SerialNumber], [TestType], [TestRecipe], [TestRelease], [TestStart], [TestDuration], [TestResult], [ArtCode], [ArtExecution], [ArtSerial], [OpCode], [StationCode], [LineCode], [FileName], [FileDate], [isBackup], [isSend], [StopCode], [isOnFTQ], [EquipmentSN], [TaskCode], [internalID]) VALUES (2, N'1329584724091060746           ', N'SM', N'MLK-WEIGHT-5847', 1, CAST(N'2024-09-10T13:33:38.973' AS DateTime), 8, 1, N'7313295847', N'--', N'24091060746', NULL, N'M-MNT02', N'WKR', NULL, NULL, 0, 0, NULL, 0, NULL, NULL, NULL)
INSERT [dbo].[Test_Headers] ([IDTest], [SerialNumber], [TestType], [TestRecipe], [TestRelease], [TestStart], [TestDuration], [TestResult], [ArtCode], [ArtExecution], [ArtSerial], [OpCode], [StationCode], [LineCode], [FileName], [FileDate], [isBackup], [isSend], [StopCode], [isOnFTQ], [EquipmentSN], [TaskCode], [internalID]) VALUES (3, N'1323052224091091122           ', N'CK', NULL, 0, CAST(N'2024-09-10T13:30:45.997' AS DateTime), 0, 1, N'7313230522', N'--', N'24091091122', NULL, N'M-UNL01', N'G6', NULL, NULL, 0, 0, NULL, 0, NULL, NULL, NULL)
GO
ALTER TABLE [dbo].[Student] ADD  DEFAULT (N'') FOR [Name]
GO
